@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: "Roboto", sans-serif;

    &::-webkit-scrollbar{
        display: none;
    }
  
}

a,h2{
    color: white;
    text-decoration: none;
}


$bg :rgb(15, 15, 15);

.header{
    height: 100px;
    background-color:$bg;
    display: flex;
    align-items: center;
    padding: 1.2rem;
    box-sizing: border-box;
    justify-content: space-between;

    > img{
        height: 60%;
    }

    >div{
        width: 100%;
        margin-left: 4vmax;

        >a{
            margin: 1vmax;
            font-size: 1.2rem;
            font-weight: 300;
        }
    }

    >svg{
        color: white;
        font-size: 1.6rem;
        cursor: pointer;

        &:hover{
            color: rgb(210, 210, 210);
        }
    }
}


